.listagem{
    max-width: 200px;
}

.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #aaaaaa;
    padding: 5px;

    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-right-radius:30px;

    min-height: 70px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon:hover{
    transform:scale(1.20);
}

.listagem .pokemon.ativo{
    background-color: #FA6668;
}